$primary-colour: #1a202c;
$secondary-colour: #F6F1F1;
$tertiary-colour: #D9D9D9;
$article-shadow: grey;

$star: #FF8C00;
$watchlist: #006400;
$comment: #483D8B;

$confirm: #b1ceae;
$cancel: #E2B3B3;
$spoiler: #cfa8cf;
$image: #dbdbb1;
$gif: #82acd3;

$trash: #953d3d;

$primary-font: var(--font);
$primary-font-size: calc(10px + 2vmin);