@import "../../styles/variables.scss";

h1 {
  padding-bottom: 2rem;
}

.create-post {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $secondary-colour;
  margin-top: 2rem;

  .fa-marker {
    transition-duration: 200ms;
    border-radius: 30%;
  }

  .fa-marker:hover {
    background-color: $secondary-colour;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $primary-colour;
    font-size: xx-large;
    font-weight: 800;
    border: 0px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .fa-marker:active {
    font-size: 70px;
  }
}
