@import "../../styles/variables.scss";

.write-post {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  background-color: $secondary-colour;
  padding: 2rem;
  min-width: 600px;
  width: 43vw;
  gap: 1rem;
  border-radius: 30px;
  margin-bottom: 0;
  margin-top: 3rem;

  .right-buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 1rem;
    width: 100%;

    .spoiler-checkbox {
      padding-top: 0;
      padding-bottom: 0;
      background-color: rgb(217, 180, 146);
      margin-right: 0;

      &:hover span {
        background-color: transparent;
        color: $secondary-colour;
      }
      span {
        color: $primary-colour;
        font-weight: bold;
        font-family: var(--font);
        padding-left: 0;
        transition-duration: 200ms;
      }
    }

    label {
      margin: 0;

      .fa-image {
        font-size: large;
        margin-left: 0.25rem;
        margin-right: 0.25rem;
      }
    }

    input[type="file"] {
      display: none;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;

    textarea {
      resize: none;
      height: 5rem;
    }

    textarea,
    input {
      color: $primary-colour;
      font-size: $primary-font-size;
      background-color: $secondary-colour;
      border: 0px;

      &:focus {
        outline: none;
      }
    }

    .MuiInputBase-root {
      width: 100%;

      input {
        color: $primary-colour;
        font-family: monospace;
        font-size: large;
      }
    }
  }

  #demo-select-small {
    font-family: monospace;
  }

  #upload-image {
    background-color: $image;
    height: 42px;
  }

  .dropdown {
    width: 100%;
  }
}

@media (max-width: 820px) {
  .write-post {
    width: 90vw;
  }
}
